@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
}

.header{
	height: 150px;
	width: auto;
	background-color: #ffffff;
}

.about{
	display: flex;
	height: 150px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.title{
	margin: 0 auto;
	padding: 20px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "Helvetica", "Arial", "sans-serif";
	margin-top: 35px;
}

.navbar{
	height: auto;
	width: auto;
	background-color: #000000;
	color: #eeeeee;
	align-items: center;
	padding: 5px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "Helvetica", "Arial", "sans-serif";
}

.menu{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#button1{
	display: flex;
	align-items: center;
  	justify-content: center;
	height: 20px;
	border: 2px solid black;
	padding: 8px;
}

.menu-link{
	text-decoration: none;
	color: #eeeeee;
}

#button2{
	display: flex;
	align-items: center;
  	justify-content: center;
	height: 20px;
	border: 2px solid black;
	padding: 8px;
}

#button3{
	display: flex;
	align-items: center;
  	justify-content: center;
	height: 20px;
	border: 2px solid black;
	padding: 8px;
}

.button-styling{
	width: 120px;
	background-color: black;
	color:  #eeeeee;
	border: 0.5px solid #eeeeee;
	border-radius: 5px;
	padding: 10px;
	font-size: 18px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "Helvetica", "Arial", "sans-serif";
}

.button-styling:hover {
	background-color: #f5f5f5b5;
	color: black;
	transition: 0.8s;
}

.container{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.mainarea{
	background-color: #eeeeee;
	height: auto;
	width: auto;
	display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: auto;
	padding-top: 20px;
}

.post-content{
	background-color: whitesmoke;
}

.image-gallery{
	background-size: auto;
	width: 650px;
	height: 400px;
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.35), 0 0px 20px 0 rgba(0, 0, 0, 0.35);
	
}

.article{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	width: auto;
	min-height: 300px;
	background-color: whitesmoke;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "Helvetica", "Arial", "sans-serif";
	text-indent: 50px;
}

.social-share{
	height: auto;
	width: 130px;
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: 10px;
	padding-left: 10px;
	align-content: center; 	
	align-items: center;
	border: 1px solid black;
	margin-bottom: 10px;
	border-radius: 10px;
	
}

.social-share:hover{
	background-color: grey;
	color: white;
	box-shadow: 0 4px 8px 0 rgba(155, 300, 120, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 1px solid white;
}

.social-share-logo{
	width: 10px;
	height: 10px;
	margin: 2px;
}


.share-logo {
	width: 20px;
	height: auto;
	margin-left: 2%;
	padding: 5px;
}

.previous-posts{
	background-color: #eeeeee;
}

.posts-list{
	height: 500px;
	width:auto;
}

.list-style{
	width: auto;
	height: auto;
	margin-left: 20px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "Helvetica", "Arial", "sans-serif";
	font-size: 20px;
}

.link-style{
	text-decoration: none;
	color: black;
	width: auto;
	height: 50px;
}

.link-style:hover {
	background-color: #bcbcbc;
	transition: 0.8s;
	border-radius: 20px;
}

.author-avatar{
	width: auto;
	display: flex;
	height: auto;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding-top: 12px;
	padding-bottom: 12px;
	align-self: baseline;
}

.author-info{
	width: auto;
	height: auto;
	background-color: whitesmoke;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "Helvetica", "Arial", "sans-serif";
}

.author-portrait{
	margin-top: 10px;
	margin-left: 20px;
	padding: 10px;
	width: 100px;
	height: 150px;
	border: 5px solid black;
}

.author-description{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 25%;
}

.author-paragraph{
	display: flex;
	text-indent: 50px;
	margin-left: 20px;
}

.footer{
	width: auto;
	height: auto;
	background: black;
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}

.social-media-logo{
	width: 40px;
	height: 40px;
	margin: 5px;
}

.social-media{
	width: 40%;
	height: auto;
	display: flex;
	flex-direction: row;
	margin-left: 10%;
	padding: 15px;
}

.logo-area{
	width: 40%;
	height: auto;
	color: #eeeeee;
	display: flex;
	flex-direction: row;	
	padding: 15px;
	justify-content: flex-end;
	margin-right: 10%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "Helvetica", "Arial", "sans-serif";
}

.copyright{
	height: 50px;
	width: 100%;
	background: black;
	color: #eeeeee;
	margin-top: 0;
	display: flex;
	justify-content: center;
	border-top: solid 1px white;
	align-items: center;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", "Helvetica", "Arial", "sans-serif";
}

@media (max-width: 600px){
	.image-gallery{
		width: 200px;
		height: 150px;
	}
	
	.title{
		padding: 20px;
		margin-top: 5px;
		font-size: 30px;
		text-align: center;
	}
	
	.button-styling{
		width: 110px;
		font-size: 15px;
	}
	
	.article{
		margin-top: 10px;
		margin-left: 10px;
		margin-right: 10px;
		text-indent: 12px;
		font-size: 10px;
	}
	
	.social-share-logo{
		width: 5px;
		height: 5px;
		margin: 0px;
}
	.social-share{
		height: auto;
		width: 120px;
		padding: 10px;
		padding-top: 0;
		padding-bottom: 0;
		margin-right: 0;
}
	.social-share-logo{
		width: 5px;
		height: 5px;
		margin: 2px;
}
	
	.list-style{
		margin-left: 5px;
		font-size: 10px;
}
	
	.social-media-logo{
		width: 30px;
		height: 30px;
		margin: 5px;
	}
	
	.logo-area{
		font-size: 15px;
	}
	
	.author-info{
		font-size: 10px;
	}
	
	.author-description{
		margin-left: 10px;
		font-size: 10px;
	}
}

@media (min-width: 601px) and (max-width:901px) {
	.image-gallery{
		width: 300px;
		height: 200px;
	}
	
	.article{
		font-size: 10px;
	}
	
	.list-style{
	margin-left: 5px;
	font-size: 10px;
	}

	.author-info{
		font-size: 10px;
	}
}